@import url(https://fonts.googleapis.com/css?family=Montserrat:300&display=swap);

@charset "UTF-8";

@font-face {
  font-family: Actay;
  font-display: swap;
  src: url("../fonts/Actay-Regular.woff2") format("woff2"), url("../fonts/Actay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ActayWide;
  font-display: swap;
  src: url("../fonts/ActayWide-Bold.woff2") format("woff2"), url("../fonts/ActayWide-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: MoscowSans;
  font-display: swap;
  src: url("../fonts/MoscowSans-Regular.woff2") format("woff2"), url("../fonts/MoscowSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("../fonts/MullerExtraBold.woff2") format("woff2"), url("../fonts/MullerExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Ailerons;
  font-display: swap;
  src: url("../fonts/Ailerons.woff2") format("woff2"), url("../fonts/Ailerons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ECECEC;
  line-height: 1;
  font-family: "ActayWide";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "ActayWide";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #1E1D1D;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 87.875rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.spollers {
  display: -ms-grid;
  display: grid;
}

.spollers__item {
  font-size: 1.125rem;
}

.spollers__title {
  font-family: "Actay";
  line-height: 1.3888888889;
  width: 100%;
  cursor: default;
  text-align: left;
  padding: 1.5625rem 6.25rem 1.5625rem 2rem;
  border-radius: 0.625rem;
  background-color: #ececec;
  color: #000;
  position: relative;
}

._spoller-init .spollers__title {
  -webkit-transition: all 1.8s ease 0s;
  -o-transition: all 1.8s ease 0s;
  transition: all 1.8s ease 0s;
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: rem(12);
  		height: rem(1);
  		transition: all 0.3s ease 0s;
  		width: rem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: rem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 35px;
  top: 50%;
  background-color: #cc0d10;
  height: 2px;
  width: 10px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active {
  -webkit-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  border-radius: 0rem 0rem 0.625rem 0.625rem;
  font-family: "Actay";
  color: #000;
  line-height: 25px;
  padding: 0rem 6.75rem 1.5rem 2rem;
  background: #ececec;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  display: inline-block;
  background: #cc0d10;
  border-radius: 6.25rem;
  font-family: "Muller";
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f6f7fa;
  padding: 1.6875rem 1.75rem 1.375rem 1.75rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button--map {
  border-radius: 10px;
  font-family: "Muller";
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f6f7fa;
  padding: 1.5625rem 2.375rem 1.5rem 2.375rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo img {
  max-width: 16.875rem;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1.8125rem;
}

.footer__logo img {
  max-width: 16.875rem;
}

.footer__copyright {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  text-align: right;
}

.hero__container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.hero__media {
  position: relative;
  margin-top: -10px;
  margin-left: -50px;
}

.hero__media::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 29.6875rem;
  height: 15.9375rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 29, 29, 0)), to(#1e1d1d));
  background: -o-linear-gradient(top, rgba(30, 29, 29, 0) 0%, #1e1d1d 100%);
  background: linear-gradient(180deg, rgba(30, 29, 29, 0) 0%, #1e1d1d 100%);
}

.hero__lb {
  max-width: 100%;
}

.hero__title {
  position: absolute;
}

.schedule__container {
  max-width: 60.125rem;
}

.schedule__column {
  text-align: center;
}

.schedule__column:nth-child(1) {
  margin-top: -2.1875rem;
}

.schedule__list {
  position: relative;
}

.schedule__list::before {
  content: "";
  max-width: 56.25rem;
  width: 100%;
  height: 0.0625rem;
  position: absolute;
  top: -3.25rem;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), color-stop(59.06%, rgba(255, 255, 255, 0.3)), color-stop(90.71%, rgba(255, 255, 255, 0.1)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3) 59.06%, rgba(255, 255, 255, 0.1) 90.71%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3) 59.06%, rgba(255, 255, 255, 0.1) 90.71%);
}

.schedule__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.schedule__item::before {
  content: "";
  max-width: 56.25rem;
  width: 100%;
  height: 0.0625rem;
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), color-stop(59.06%, rgba(255, 255, 255, 0.3)), color-stop(90.71%, rgba(255, 255, 255, 0.1)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3) 59.06%, rgba(255, 255, 255, 0.1) 90.71%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3) 59.06%, rgba(255, 255, 255, 0.1) 90.71%);
}

.schedule__date {
  font-family: "Ailerons";
  line-height: 1.2;
  letter-spacing: 0.125em;
}

.schedule__date:not(:last-child) {
  margin-bottom: 0.625rem;
}

.schedule__time {
  font-family: "Actay";
  line-height: 1.2777777778;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.schedule__city {
  font-family: "Muller";
  font-weight: 700;
  line-height: 101.07%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f6f7fa;
}

.schedule__place {
  font-family: "Actay";
  line-height: 1.2777777778;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  max-width: 10.625rem;
}

.about__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__column:not(:last-child) {
  margin-bottom: 6.25rem;
}

.about__text {
  max-width: 40.3125rem;
  line-height: 1.5;
  padding-top: 12.125rem;
  font-family: Actay;
  letter-spacing: 0.0055em;
}

.about__text:nth-child(2) {
  padding-top: 8.625rem;
}

.about__text span {
  font-family: ActayWide;
  font-weight: 700;
}

.about__text p:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.about__text:not(:last-child) {
  margin-bottom: 3.75rem;
}

.about__media {
  position: relative;
}

.about__media::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 37.5rem;
  height: 14.0625rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 29, 29, 0)), to(#1e1d1d));
  background: -o-linear-gradient(top, rgba(30, 29, 29, 0) 0%, #1e1d1d 100%);
  background: linear-gradient(180deg, rgba(30, 29, 29, 0) 0%, #1e1d1d 100%);
}

.about__media img {
  max-width: 100%;
}

.video__container {
  display: -ms-grid;
  display: grid;
}

.video__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 2.1875rem;
     -moz-column-gap: 2.1875rem;
          column-gap: 2.1875rem;
  row-gap: 3.75rem;
}

.video__list:not(:last-child) {
  margin-bottom: 3.75rem;
}

.video__button {
  -ms-grid-column-align: center;
      justify-self: center;
}

.spotify__container {
  max-width: 53.625rem;
}

.map__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr auto;
  grid-template-columns: 1fr 1fr auto;
  max-width: 60.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.map__column {
  font-family: "Muller";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 126.57%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.map__column:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: none;
  font-family: "Actay";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3888888889;
}

.map__icon svg {
  width: 1.125rem;
  height: 1.625rem;
  fill: #ececec;
}

.faq__container {
  max-width: 60.125rem;
}

.faq__title {
  text-align: center;
  font-family: "Muller";
  font-style: normal;
  font-weight: 800;
  line-height: 1;
}

.faq__title:not(:last-child) {
  margin-bottom: 4.125rem;
}

@media (min-width: 47.99875em) {
  .spollers {
    gap: 1.875rem;
  }

  .spollers__title {
    font-size: 1.125rem;
  }

  .spollers__body {
    font-size: 1rem;
  }

  .footer__copyright {
    font-size: 0.875rem;
  }

  .hero__title {
    bottom: -3.75rem;
  }

  .hero__title {
    left: -5.1875rem;
  }

  .faq__title {
    font-size: 3.125rem;
  }
}

@media (min-width: 56.25em) {
  .schedule__date {
    font-size: 3.125rem;
  }

  .schedule__time {
    font-size: 1.125rem;
  }

  .schedule__city {
    font-size: 2.875rem;
  }

  .schedule__place {
    font-size: 1.125rem;
  }
}

@media (min-width: 62.5em) {
  .button {
    font-size: 1.5rem;
  }

  .header__container {
    padding-top: 3.6875rem;
  }

  .page__hero {
    padding-bottom: 6.25rem;
  }

  .page__schedule {
    padding-top: 6.25rem;
  }

  .page__schedule {
    padding-bottom: 8.75rem;
  }

  .page__about {
    padding-top: 0.0000000625rem;
  }

  .page__about {
    padding-bottom: 4.6875rem;
  }

  .page__video {
    padding-top: 4.6875rem;
  }

  .page__video {
    padding-bottom: 4.6875rem;
  }

  .page__spotify {
    padding-top: 4.6875rem;
  }

  .page__spotify {
    padding-bottom: 4.6875rem;
  }

  .page__map {
    padding-top: 4.6875rem;
  }

  .page__map {
    padding-bottom: 4.6875rem;
  }

  .page__faq {
    padding-top: 4.6875rem;
  }

  .page__faq {
    padding-bottom: 9.375rem;
  }
}

@media (min-width: 50em) {
  .hero__title {
    width: 44.875rem;
  }
}

@media (min-width: 75em) {
  .about__column {
    gap: 7.625rem;
  }

  .about__column:nth-child(1) {
    gap: 9.1875rem;
  }
}

@media (max-width: 25em) {
  .hero__title {
    width: 22.1875rem;
  }
}

@media (max-width: 74.375em) {
  .about__text {
    padding-top: 0;
    font-size: 1rem;
  }

  .about__text br {
    display: none;
  }

  .about__text p:not(:last-child) {
    margin-bottom: 1.625rem;
  }

  .about__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 62.5em) {
  .about__column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .about__column:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .about__media:nth-child(1) {
    display: none;
  }

  .about__button {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    margin: 0 auto;
    width: 9.625rem;
    padding: 0.9375rem 1.0625rem 0.9375rem 1.125rem;
  }

  .video__button {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    margin: 0 auto;
    width: 9.625rem;
    padding: 0.9375rem 1.0625rem 0.9375rem 1.125rem;
  }
}

@media (max-width: 56.31125em) {
  .button {
    font-size: 0.625rem;
  }
}

@media (max-width: 47.99875em) {
  .button {
    padding: 0.75rem 1.0625rem 0.75rem 1.125rem;
  }

  .button--map {
    font-family: "MoscowSans";
    font-weight: 300;
    font-size: 0.75rem;
    padding: 0.875rem 1.0625rem 0.875rem 1.125rem;
  }

  .header__container {
    padding-top: 1.875rem;
  }

  .header__logo img {
    max-width: 10.9375rem;
  }

  .header__support-ukraine img {
    max-width: 6rem;
  }

  .footer__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .page__hero {
    padding-bottom: 3.75rem;
  }

  .page__schedule {
    padding-top: 2.5rem;
  }

  .page__about {
    padding-top: 1.875rem;
  }

  .page__video {
    padding-top: 1.875rem;
  }

  .page__spotify {
    padding-top: 3.125rem;
  }

  .page__map {
    padding-top: 3.125rem;
  }

  .page__faq {
    padding-top: 3.125rem;
  }

  .hero__media {
    margin-left: -10px;
    margin-top: 0;
    padding-top: 2.0625rem;
  }

  .schedule__column:nth-child(1) {
    margin-top: -0.625rem;
  }

  .schedule__list::before {
    top: -1.375rem;
  }

  .about__column {
    gap: 0.9375rem;
  }

  .about__column:nth-child(1) {
    gap: 0.0000000625rem;
  }

  .video__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }

  .video__list:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .video__item iframe {
    max-height: 12.5rem;
  }

  .video__item:nth-child(n+3) {
    display: none;
  }

  .map__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    max-width: 15.125rem;
  }

  .map__column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 1rem;
  }

  .map__column:nth-child(2) {
    font-size: 0.875rem;
    gap: 0.4375rem;
    text-align: left;
  }

  .map__google {
    margin-top: 0.625rem;
  }

  .faq__title:not(:last-child) {
    margin-bottom: 2.125rem;
  }
}

@media (max-width: 31.31125em) {
  .page__schedule {
    padding-bottom: 2.5rem;
  }

  .page__about {
    padding-bottom: 1.875rem;
  }

  .page__video {
    padding-bottom: 3.125rem;
  }

  .page__spotify {
    padding-bottom: 3.125rem;
  }

  .page__map {
    padding-bottom: 3.125rem;
  }

  .page__faq {
    padding-bottom: 6.25rem;
  }
}

@media (max-width: 29.6875em) {
  .spollers {
    gap: 1.25rem;
  }

  .spollers__title {
    font-size: 0.875rem;
  }

  .spollers__body {
    font-size: 0.75rem;
  }

  .footer__copyright {
    font-size: 0.5rem;
  }

  .schedule__date {
    font-size: 1.125rem;
  }

  .schedule__time {
    font-size: 0.625rem;
  }

  .schedule__city {
    font-size: 0.875rem;
  }

  .schedule__place {
    font-size: 0.625rem;
  }

  .faq__title {
    font-size: 1.25rem;
  }
}

@media (max-width: 29.99875em) {
  .spollers__title {
    padding: 1.0625rem 6.25rem 1.0625rem 0.875rem;
  }

  .spollers__body {
    padding: 0rem 1.5625rem 1.0625rem 0.875rem;
  }

  .footer__logo img {
    max-width: 10.9375rem;
  }

  .schedule__item::before {
    bottom: -22px;
  }

  .schedule__place {
    max-width: 5.9375rem;
  }
}

@media (max-width: 26.25em) {
  .hero__title {
    left: 0.625rem;
  }
}

@media (max-width: 24.0625em) {
  .hero__title {
    width: 18.125rem;
  }
}

@media (max-width: 23.125em) {
  .hero__title {
    bottom: -0.625rem;
  }

  .hero__title {
    left: 2.5rem;
  }
}

@media (min-width: 29.6875em) and (max-width: 47.99875em) {
@supports (gap: clamp( 1.25rem , 0.2367055772rem  +  3.4132022664vw , 1.875rem )) {
    .spollers {
      gap: clamp( 1.25rem , 0.2367055772rem  +  3.4132022664vw , 1.875rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.2367055772rem  +  3.4132022664vw , 1.875rem )) {
    .spollers {
      gap: calc(1.25rem + 0.625 * (100vw - 29.6875rem) / 18.31125);
    }
}

@supports (font-size: clamp( 0.875rem , 0.4696822309rem  +  1.3652809065vw , 1.125rem )) {
    .spollers__title {
      font-size: clamp( 0.875rem , 0.4696822309rem  +  1.3652809065vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.4696822309rem  +  1.3652809065vw , 1.125rem )) {
    .spollers__title {
      font-size: calc(0.875rem + 0.25 * (100vw - 29.6875rem) / 18.31125);
    }
}

@supports (font-size: clamp( 0.75rem , 0.3446822309rem  +  1.3652809065vw , 1rem )) {
    .spollers__body {
      font-size: clamp( 0.75rem , 0.3446822309rem  +  1.3652809065vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.3446822309rem  +  1.3652809065vw , 1rem )) {
    .spollers__body {
      font-size: calc(0.75rem + 0.25 * (100vw - 29.6875rem) / 18.31125);
    }
}

@supports (font-size: clamp( 0.5rem , -0.1079766537rem  +  2.0479213598vw , 0.875rem )) {
    .footer__copyright {
      font-size: clamp( 0.5rem , -0.1079766537rem  +  2.0479213598vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.5rem , -0.1079766537rem  +  2.0479213598vw , 0.875rem )) {
    .footer__copyright {
      font-size: calc(0.5rem + 0.375 * (100vw - 29.6875rem) / 18.31125);
    }
}

@supports (font-size: clamp( 1.25rem , -1.7898832685rem  +  10.2396067991vw , 3.125rem )) {
    .faq__title {
      font-size: clamp( 1.25rem , -1.7898832685rem  +  10.2396067991vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.25rem , -1.7898832685rem  +  10.2396067991vw , 3.125rem )) {
    .faq__title {
      font-size: calc(1.25rem + 1.875 * (100vw - 29.6875rem) / 18.31125);
    }
}
}

@media (min-width: 56.31125em) and (max-width: 62.5em) {
@supports (font-size: clamp( 0.625rem , -7.3365986669rem  +  14.1385578671vw , 1.5rem )) {
    .button {
      font-size: clamp( 0.625rem , -7.3365986669rem  +  14.1385578671vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 0.625rem , -7.3365986669rem  +  14.1385578671vw , 1.5rem )) {
    .button {
      font-size: calc(0.625rem + 0.875 * (100vw - 56.31125rem) / 6.18875);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 62.5em) {
@supports (padding-top: clamp( 1.875rem , -4.1243265667rem  +  12.4989225067vw , 3.6875rem )) {
    .header__container {
      padding-top: clamp( 1.875rem , -4.1243265667rem  +  12.4989225067vw , 3.6875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -4.1243265667rem  +  12.4989225067vw , 3.6875rem )) {
    .header__container {
      padding-top: calc(1.875rem + 1.8125 * (100vw - 47.99875rem) / 14.50125);
    }
}

@supports (padding-bottom: clamp( 3.75rem , -4.5249331954rem  +  17.2398931127vw , 6.25rem )) {
    .page__hero {
      padding-bottom: clamp( 3.75rem , -4.5249331954rem  +  17.2398931127vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , -4.5249331954rem  +  17.2398931127vw , 6.25rem )) {
    .page__hero {
      padding-bottom: calc(3.75rem + 2.5 * (100vw - 47.99875rem) / 14.50125);
    }
}

@supports (padding-top: clamp( 2.5rem , -9.9123997931rem  +  25.859839669vw , 6.25rem )) {
    .page__schedule {
      padding-top: clamp( 2.5rem , -9.9123997931rem  +  25.859839669vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , -9.9123997931rem  +  25.859839669vw , 6.25rem )) {
    .page__schedule {
      padding-top: calc(2.5rem + 3.75 * (100vw - 47.99875rem) / 14.50125);
    }
}

@supports (padding-top: clamp( 0.0000000625rem , 8.0811996897rem  +  -12.9299194035vw , 1.875rem )) {
    .page__about {
      padding-top: clamp( 0.0000000625rem , 8.0811996897rem  +  -12.9299194035vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 0.0000000625rem , 8.0811996897rem  +  -12.9299194035vw , 1.875rem )) {
    .page__about {
      padding-top: calc(1.875rem + -1.8749999375 * (100vw - 47.99875rem) / 14.50125);
    }
}

@supports (padding-top: clamp( 1.875rem , -7.4342998448rem  +  19.3948797517vw , 4.6875rem )) {
    .page__video {
      padding-top: clamp( 1.875rem , -7.4342998448rem  +  19.3948797517vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -7.4342998448rem  +  19.3948797517vw , 4.6875rem )) {
    .page__video {
      padding-top: calc(1.875rem + 2.8125 * (100vw - 47.99875rem) / 14.50125);
    }
}

@supports (padding-top: clamp( 3.125rem , -2.0468332471rem  +  10.7749331954vw , 4.6875rem )) {
    .page__spotify {
      padding-top: clamp( 3.125rem , -2.0468332471rem  +  10.7749331954vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , -2.0468332471rem  +  10.7749331954vw , 4.6875rem )) {
    .page__spotify {
      padding-top: calc(3.125rem + 1.5625 * (100vw - 47.99875rem) / 14.50125);
    }
}

@supports (padding-top: clamp( 3.125rem , -2.0468332471rem  +  10.7749331954vw , 4.6875rem )) {
    .page__map {
      padding-top: clamp( 3.125rem , -2.0468332471rem  +  10.7749331954vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , -2.0468332471rem  +  10.7749331954vw , 4.6875rem )) {
    .page__map {
      padding-top: calc(3.125rem + 1.5625 * (100vw - 47.99875rem) / 14.50125);
    }
}

@supports (padding-top: clamp( 3.125rem , -2.0468332471rem  +  10.7749331954vw , 4.6875rem )) {
    .page__faq {
      padding-top: clamp( 3.125rem , -2.0468332471rem  +  10.7749331954vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , -2.0468332471rem  +  10.7749331954vw , 4.6875rem )) {
    .page__faq {
      padding-top: calc(3.125rem + 1.5625 * (100vw - 47.99875rem) / 14.50125);
    }
}
}

@media (min-width: 31.31125em) and (max-width: 62.5em) {
@supports (padding-bottom: clamp( 2.5rem , -3.7745481143rem  +  20.0392769829vw , 8.75rem )) {
    .page__schedule {
      padding-bottom: clamp( 2.5rem , -3.7745481143rem  +  20.0392769829vw , 8.75rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , -3.7745481143rem  +  20.0392769829vw , 8.75rem )) {
    .page__schedule {
      padding-bottom: calc(2.5rem + 6.25 * (100vw - 31.31125rem) / 31.18875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.9485466514rem  +  9.0176746423vw , 4.6875rem )) {
    .page__about {
      padding-bottom: clamp( 1.875rem , -0.9485466514rem  +  9.0176746423vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.9485466514rem  +  9.0176746423vw , 4.6875rem )) {
    .page__about {
      padding-bottom: calc(1.875rem + 2.8125 * (100vw - 31.31125rem) / 31.18875);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.5563629714rem  +  5.0098192457vw , 4.6875rem )) {
    .page__video {
      padding-bottom: clamp( 3.125rem , 1.5563629714rem  +  5.0098192457vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.5563629714rem  +  5.0098192457vw , 4.6875rem )) {
    .page__video {
      padding-bottom: calc(3.125rem + 1.5625 * (100vw - 31.31125rem) / 31.18875);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.5563629714rem  +  5.0098192457vw , 4.6875rem )) {
    .page__spotify {
      padding-bottom: clamp( 3.125rem , 1.5563629714rem  +  5.0098192457vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.5563629714rem  +  5.0098192457vw , 4.6875rem )) {
    .page__spotify {
      padding-bottom: calc(3.125rem + 1.5625 * (100vw - 31.31125rem) / 31.18875);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.5563629714rem  +  5.0098192457vw , 4.6875rem )) {
    .page__map {
      padding-bottom: clamp( 3.125rem , 1.5563629714rem  +  5.0098192457vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.5563629714rem  +  5.0098192457vw , 4.6875rem )) {
    .page__map {
      padding-bottom: calc(3.125rem + 1.5625 * (100vw - 31.31125rem) / 31.18875);
    }
}

@supports (padding-bottom: clamp( 6.25rem , 3.1127259428rem  +  10.0196384914vw , 9.375rem )) {
    .page__faq {
      padding-bottom: clamp( 6.25rem , 3.1127259428rem  +  10.0196384914vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 6.25rem , 3.1127259428rem  +  10.0196384914vw , 9.375rem )) {
    .page__faq {
      padding-bottom: calc(6.25rem + 3.125 * (100vw - 31.31125rem) / 31.18875);
    }
}
}

@media (min-width: 23.125em) and (max-width: 47.99875em) {
@supports (bottom: clamp( -3.75rem , 2.2802967486rem  +  -12.5634453993vw , -0.625rem )) {
    .hero__title {
      bottom: clamp( -3.75rem , 2.2802967486rem  +  -12.5634453993vw , -0.625rem );
    }
}

@supports not (bottom: clamp( -3.75rem , 2.2802967486rem  +  -12.5634453993vw , -0.625rem )) {
    .hero__title {
      bottom: calc(-0.625rem + -3.125 * (100vw - 23.125rem) / 24.87375);
    }
}

@supports (left: clamp( -5.1875rem , 9.6470300015rem  +  -30.9060756822vw , 2.5rem )) {
    .hero__title {
      left: clamp( -5.1875rem , 9.6470300015rem  +  -30.9060756822vw , 2.5rem );
    }
}

@supports not (left: clamp( -5.1875rem , 9.6470300015rem  +  -30.9060756822vw , 2.5rem )) {
    .hero__title {
      left: calc(2.5rem + -7.6875 * (100vw - 23.125rem) / 24.87375);
    }
}
}

@media (min-width: 25em) and (max-width: 50em) {
@supports (width: clamp( 22.1875rem , -0.5rem  +  90.75vw , 44.875rem )) {
    .hero__title {
      width: clamp( 22.1875rem , -0.5rem  +  90.75vw , 44.875rem );
    }
}

@supports not (width: clamp( 22.1875rem , -0.5rem  +  90.75vw , 44.875rem )) {
    .hero__title {
      width: calc(22.1875rem + 22.6875 * (100vw - 25rem) / 25);
    }
}
}

@media (min-width: 29.6875em) and (max-width: 56.25em) {
@supports (font-size: clamp( 1.125rem , -1.1102941176rem  +  7.5294117647vw , 3.125rem )) {
    .schedule__date {
      font-size: clamp( 1.125rem , -1.1102941176rem  +  7.5294117647vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.125rem , -1.1102941176rem  +  7.5294117647vw , 3.125rem )) {
    .schedule__date {
      font-size: calc(1.125rem + 2 * (100vw - 29.6875rem) / 26.5625);
    }
}

@supports (font-size: clamp( 0.625rem , 0.0661764706rem  +  1.8823529412vw , 1.125rem )) {
    .schedule__time {
      font-size: clamp( 0.625rem , 0.0661764706rem  +  1.8823529412vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.0661764706rem  +  1.8823529412vw , 1.125rem )) {
    .schedule__time {
      font-size: calc(0.625rem + 0.5 * (100vw - 29.6875rem) / 26.5625);
    }
}

@supports (font-size: clamp( 0.875rem , -1.3602941176rem  +  7.5294117647vw , 2.875rem )) {
    .schedule__city {
      font-size: clamp( 0.875rem , -1.3602941176rem  +  7.5294117647vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 0.875rem , -1.3602941176rem  +  7.5294117647vw , 2.875rem )) {
    .schedule__city {
      font-size: calc(0.875rem + 2 * (100vw - 29.6875rem) / 26.5625);
    }
}

@supports (font-size: clamp( 0.625rem , 0.0661764706rem  +  1.8823529412vw , 1.125rem )) {
    .schedule__place {
      font-size: clamp( 0.625rem , 0.0661764706rem  +  1.8823529412vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.0661764706rem  +  1.8823529412vw , 1.125rem )) {
    .schedule__place {
      font-size: calc(0.625rem + 0.5 * (100vw - 29.6875rem) / 26.5625);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 75em) {
@supports (gap: clamp( 0.9375rem , -10.9505289107rem  +  24.7673718809vw , 7.625rem )) {
    .about__column {
      gap: clamp( 0.9375rem , -10.9505289107rem  +  24.7673718809vw , 7.625rem );
    }
}

@supports not (gap: clamp( 0.9375rem , -10.9505289107rem  +  24.7673718809vw , 7.625rem )) {
    .about__column {
      gap: calc(0.9375rem + 6.6875 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (gap: clamp( 0.0000000625rem , -16.3321516944rem  +  34.0262022592vw , 9.1875rem )) {
    .about__column:nth-child(1) {
      gap: clamp( 0.0000000625rem , -16.3321516944rem  +  34.0262022592vw , 9.1875rem );
    }
}

@supports not (gap: clamp( 0.0000000625rem , -16.3321516944rem  +  34.0262022592vw , 9.1875rem )) {
    .about__column:nth-child(1) {
      gap: calc(0.0000000625rem + 9.1874999375 * (100vw - 47.99875rem) / 27.00125);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: darkred;
  }
}